
/* ul li {
list-style: none;
display: inline-block;
float: left;
}

ul li a {
text-decoration: none;
font-size: 16px;
font-family: sans-serif;
color: #eee;
padding: 0 20px;
display: block;
line-height: 70px;
align-content: center;

}

nav {
  width: 400px;
  height: 70px;
  background-color: black;
  justify-content: center;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 0px 0px 20px 0px;
} */

/* nav ul {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;

  text-transform: uppercase;

  font-size: 20px;
  font-weight: bold;

  justify-content: space-between;
} */


/* ul li a:hover {
color: red;
} */
body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  background-color: #eee;
}

.header {
  height: 800px;
  background-color: rgb(15, 14, 18);
}


.parallax-window {
    min-height: 600px;
    background: transparent;
}

#head {
  font-size: 200px;
  background-color: #eee;
  width: 800px;
  height: 250px;
  text-align: center;
  position: absolute;
  top: 10vh;
  left: 10vh;
}

.header span {
  background-color: #eee;
  text-align: center;
  position: absolute;
  font-size: 100px;
  font-weight: 400;
  right: 10vh;
  bottom: 20vh;
  height: 120px;
}

#head, .header span, .content h2, .h2 {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(15, 14, 18);
}

.content {
  background-color: #eee;
  height: 800px;
  margin: 0 10vh;
  position: relative;
}

.content h2 {
  font-size: 80px;
  position: absolute;
  top: 20px;
}

.h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  position: relative;
  top: 20vh;
  line-height: 60px;
  width: 370px;

}

.parallax-window {
  height: 1000px;
  position: relative;
}

/* rgb(0, 104, 55)
rgb(0, 113, 187)
rgb(229, 229, 229) */
